<header>
    <nav class="navbar navbar-dark bg-dark">
        <button type="button" class="btn btn-light material-icons "> photo_camera</button>
      <!--  <a class="material-icons " href="#">photo_camera</a>
          <button type="button" class="btn btn-link material-icons">photo_camera</button> -->
       <!--<button type="button" class="btn btn-outline-primary material-icons">photo_camera</button>
      <a class="material-icons " href="#">send</a> -->
        <h3 class="navbar-brand mb-0 h1" href="#">{{ AppTitle }}</h3>
        <button type="button" class="btn btn-light  material-icons">send</button>
    </nav>
</header>
