<div class="container">
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let package of packages">
                <td>{{ package.id }}</td>
                <td>{{ package.name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.language }}</td>
            </tr>
        </tbody>
    </table>
</div>
