 
<div class="container">
  <ul class="list-unstyled row ">
      <!--
          *ngFor is an angular directive
          allows you to do Javascript loops in HTML
      -->
      <li class="col-10 border Regular shadow  PostContainer" *ngFor="let post of posts">
        
        <div>
          <!--<h6 class="text ">{{ post.id }} </h6> -->
        
          <img
              class="rounded-circle"
              [src]="post.profilePhoto"
              [alt]="post.title"
              width="30px"
              height="40px"
              style="float:left"
              
          >
          <h6 class="text ">{{ post.username }} </h6>
          <h6 class="text ">{{ post.title }}</h6>
        </div>
          <img
          class="postLayout"
          [src]="post.photo"
          [alt]="post.title"
          class="rounded mx-auto d-block"
          width="400px"
          height="500px"
              >
                
          <p>{{ post.description }}</p>
        
          <i class="mdc-icon-button material-icons" href="#" >favorite_border</i>
          
         <!-- 
           <button type="button" class="mdc-icon-button material-icons "> favorite_border</button>
           <button    *ngIf="mdc-icon-button--on" type="button" class="mdc-icon-button material-icons "> favorite_border</button>
         -->
          
          <i class="  material-icons" href="#" >share</i>
          <i class="  material-icons" href="#" >add_comment</i>
          
          
          
      </li>
  </ul>
</div>
