 
<div class="container">
  <ul  >

      <li class="col-10 border Regular shadow  PostContainer" *ngFor="let post of posts">
        <div>
          <!--<h6 class="text ">{{ post.id }} </h6> -->
        
          <img
              class="rounded-circle"
              [src]="post.profilePhoto"
              [alt]="post.title"
              width="30px"
              height="40px"
              style="float:left"
          >
          <h6 class="text ">{{ post.username }} </h6>
          <h6 class="text ">{{ post.title }}</h6>
        </div>
          <img
          class="postLayout"
          [src]="post.photo"
          [alt]="post.title"
          class="rounded mx-auto d-block"
          width="400px"
          height="500px"
              >
                
          <p>{{ post.description }}</p>
         
          <button  class=" material-icons icon_empty"     
             (click)="like =!like" 
               [class.icon_full]="like" border_color=0> 
                favorite  
            </button>

          
          <i class="  material-icons" href="#" >share</i>
          <i class="  material-icons" href="#" >add_comment</i>
          
          
          
      </li>
  </ul>
</div>
