
.PostContainer {
  display: block; 
  margin: auto;  
  margin-bottom: 15px;  

  width: 55%;
  height:75%;
}
.icon_empty{
  color: rgba(207, 177, 177, 0.541);
  border:0;
  background-color: white;
 }

.icon_full {
  color: red;
  border: 0;
  background-color: white;
  }
  button:active {
    border: initial;
    border:0 ;
}
 
